html {
  scroll-behavior: smooth;
  cursor: url(img/chopsticks.png), auto;
}

body {
  background-color: beige;
  cursor: url(img/chopsticks.png), auto;
}

*/
/*
@keyframes glowing {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 0;
    }
}
*/

header {
  justify-content: space-between;
}

#socials {
  font-size: 2.5rem;
  cursor: url(img/chopsticks.png), auto;
}

#icon {
  color: #81b14f;
  cursor: url(img/chopsticks.png), auto;
}

#icon:hover {
  color: #451b04;
}

#info {
  background: -webkit-linear-gradient(#81b14f, #451b04);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: transparent;
}

.btn {
    background-color: #451b04;
}

.btn:hover {
    background-color: #81b14f;
    color: #451b04;
    transform: translateY(-8px);
}

#left-side {
    margin: auto;
    width: 50%;
}
